*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(247, 245, 249);

    
    align-items: center;
    justify-content: center;
}
.section-padding{
    padding: 100px 0;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
    color: black;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;

}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 15px;
    line-height: 1.7;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0 ;
    z-index: 1;
}
.navbar-nav{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-Light .navbar-brand{
    color: rgb(46, 23, 23);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: rgb(61, 23, 23);
}
.navbar-light .navbar-nav .navbar-link{
    color: black;
}
.w-100{
    height: 100vh;
}
.card-title{
    color: rgb(248, 243, 243);

}
.lead{
    color: rgb(93, 78, 78);
}
.services .card-body{
    background-color: rgb(52, 48, 48);
    font-size: 50px;
}
.team .card-body i{
    font-size: 20px;
}
.portfolio .card{
    box-shadow: 15px 15px 40px black;

}
.team .card{
    box-shadow: 15px 15px 40px black;

    
}
.card-body .card-title py-2{
    color: rgb(39, 12, 12);
}
/* === responsive CSS ===*/

@media only screen and (min-width: 768px) and ( max-width: 992px){
    .carousel-caption{
        bottom: 370px;

    }
    .carousel-caption p{
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
.navbar-nav{
    text-align: center;
}
.carousel-caption{
    bottom: 125px;
}
.carousel-caption h5{
    font-size: 17px;
}
.carousel-caption a{
    padding: 10px 15px;
}
.carousel-caption p{
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
}

@-webkit-keyframes bounceInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2000px);
      transform: translateY(2000px);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
  
    80% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  


}